:root {
  --bg-dark: #191622;
  --white: #E1E1E6;

  --gray-50: #F7F8FA;
  --gray-100: #E6E8EB;
  --gray-200: #AFB2B1;
  --gray-500: #808080;
  --gray-800: #494D4B;

  --gray-blue-50: #44475a;
  --gray-blue-100:#41414D;
  --gray-blue-200:#483C67;  

  --green-300: #67E480;
  --green-500: #04D361;
  
  --purple-300: #9F75FF;
  --purple-400: #9164FA; 
  --purple-500: #8257E5;
  --purple-800: #6F48C9;
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Lato, sans-serif;
  background-color: var(--bg-dark);
}